# Configurações de Banco de Dados
# Substitua <usuario>, <senha>, <cluster_url> pelas credenciais do seu cluster MongoDB Atlas
MONGO_URL=mongodb+srv://<usuario>:<senha>@<cluster_url>.mongodb.net/?appName=SIEST_App
